{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API DeepSFU</title>
    <link href="{% static  "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row" style="height: 1000px">
        <div class="col-md-12  align-self-center ">
            <h3 class="text-center">API is working, go to  <a href="https://vue-deepsfu.herokuapp.com"> vue-deepsfu.herokuapp.com</a></h3>
        </div>
    </div>
</div>
</body>
</html>